# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project output
data/output/

# IDEs
.vscode/
.idea/

# pytest
.pytest_cache/
